<div class="text">
  <h2 *ngIf="title">{{ title }}</h2>
  <div class="row">
    <div *ngIf="image" class="col-md-6">
      <a *ngIf="link || linkExternal" (click)="handleLink()">
        <img [title]="linkLabel" [src]="image" [alt]="linkLabel" class="img-fluid">
      </a>
      <img *ngIf="!link && !linkExternal" [title]="linkLabel" [src]="image" [alt]="linkLabel" class="img-fluid">
    </div>

    <div [class]="class">
      <div [innerHTML]="text"></div>
      <p *ngIf="link || linkExternal"><a (click)="handleLink()" class="btn btn-primary" role="button">{{linkLabel}}</a></p>
    </div>
  </div>
</div>
